.Header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    background-color: rgb(0, 0, 0), 05;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    border-radius: 25px;
}

.HeaderScrolled {
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
    backdrop-filter: blur(20px);
}

.aScrolled {
    color: white;
    font-weight: 200;
}

#___gatsby {
    background-color: blue;
}

.HeaderGroup {
    padding-top: 5%;
    padding-right: 10%;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(5, auto);
    align-items: right;
    justify-items: center;
    float: right;
}

.Header a {
    color: black;
    font-weight: 700;
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header a:hover {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    color: rgb(186, 202, 207);
    text-underline-position: below
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }
    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }
    .Header a:nth-child(4) {
        display: none;
    }
}