        @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500&display=swap');
        @keyframes HeroAnimation {
            0% {
                opacity: 0;
                transform: translateY(20px)
            }
            100% {
                opacity: 1;
                transform: translateY(0px)
            }
        }
        
        .backgrounderScrolled {
            transition: 0.3s all;
        }
        
        #backgrounder {
            background-color: aquamarine;
        }
        
        .backy {
            background-color: yellow;
        }
        
        body {
            width: 100%;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-family: 'IBM Plex Sans', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 20px;
            margin: 0;
            height: 100%;
            line-height: 1.3;
            margin: 0px;
            z-index: 100;
            background-color: white;
        }
        
        #___gatsby {
            background-color: yellow;
        }
        
        a {
            color: #EAF5FB;
            font-weight: 600;
            text-decoration: none;
        }
        
        .Hero {
            padding-top: 200px;
        }
        
        #backgrounder {
            background-color: white;
            min-height: 100vh;
            min-width: 100vh;
        }
        
        .HeroGroup p {
            animation: HeroAnimation 3s 0.25s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
            opacity: 0;
            max-width: 700px;
            font-size: 15px;
            padding-top: 30px;
            font-weight: 300;
            color: #333333
        }
        
        .Hero h1 {
            animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
            opacity: 0;
            margin: 0;
            color: #333333;
            font-size: 40px;
            line-height: 1.2;
            font-weight: 100;
        }
        
        .Hero p {
            font-size: 20px;
            line-height: 1.5;
            color: '#333333';
            padding-bottom: 200px;
            padding-top: 50px;
        }
        
        .Hero a {
            font-size: 17px;
            font-weight: 600;
            columns: #333333;
            background: rgba(0, 0, 0, 0.7);
            padding: 9px 20px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 20px;
        }
        
        @media (max-width: 640px) {
            .HeroGroup {
                padding: 100px 20px;
            }
            .Hero h1 {
                font-size: 40px;
            }
            .Hero p {
                font-size: 24px;
            }
        }
        
        .Hero .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
        /* On mouse-over, add a deeper shadow */
        
        .Hero .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        /* Add some padding inside the card container */
        
        .Hero .container {
            padding: 2px 16px;
        }
        
        .Hero h2 {
            padding-top: 200px;
        }